#tooltip,
#tooltip2 {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  position: absolute;

}

.sequences {
  display: flex;
  justify-content: flex-start;
  font: 18px 'Sofadi One', cursive;

  span {
    color: #b8b8b8;
    width: 50px;
    text-align: center;
  }

  .mySvg {
    overflow: visible;
  

    .showRect,
    .showRectSec,
    .showRectThird {
      display: block;
    }
  }

}
