<div class="sequences">
  <div id="tooltip" #myTooltip style=" display: none;"></div>
  <div id="tooltip2" #myTooltip2 style=" display: none;"></div>


  <span> {{sequence.index}}</span>
  <svg #mySvg class="mySvg" viewport-fill="black" width="900" height="40px" xmlns="http://www.w3.org/2000/svg">
    <style>
      rect {
        display: none;
      }
    </style>


    <rect (mousemove)="showTooltip($event)" (mouseleave)="hideTooltip($event)" [ngClass]="{'showRect' : firstRectFLag}" #firstRect
      x="0" y="0" height="100%" opacity="0.3" fill="blue"></rect>
    <rect [ngClass]="{'showRectSec' : secondRectFLag}" #secondRect x="0" y="0" height="100%" opacity="0.3" fill="blue" (mousemove)="showTooltip2($event)"
      (mouseleave)="hideTooltip2($event)">
    </rect>
    <rect [ngClass]="{'showRectThird' : thirdRectFLag}" #thirddRect x="0" name='thirdRec' y="40" height="100%" opacity="0.3"
      fill="blue" (mousemove)="showTooltip2($event, thirddRect)" (mouseleave)="hideTooltip2($event)">
    </rect>

    <text #textEl x="20" y="20" text-buffer="sequence" textLength="50" font-weight="bold" text-overflow="auto">
      {{sequence.arr}}
    </text>
  </svg>
</div>