<div class="page_scroller" #scrollGoto>
  <app-sequence-line *ngFor="let seq of arrSequences; index as i" [sequence]="seq"></app-sequence-line>
</div>

<div class="controllers">
  <h2>Sequence Editor</h2>
  <div class="container">
    <div class="title">Add Annotation:</div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="index">index</label>
        <input type="text" id="index" formControlName="index" autocomplete="off" pattern="^[0-9]{1,4}$">
        <span *ngIf="!signupForm.get('index').valid && signupForm.get('index').touched" class="help-block">Please enter a valid index(number)</span>
      </div>

      <div class="form-control">
        <label for="length">length</label>
        <input type="text" id="length" formControlName="length" autocomplete="off">
        <span *ngIf="!signupForm.get('length').valid && signupForm.get('length').touched" class="help-block">Please enter a valid length between 1-50</span>
      </div>

      <div class="form-control">
        <label for="tooltip">tooltip</label>
        <input type="text" id="tooltip" formControlName="tooltip" autocomplete="off">
        <span *ngIf="!signupForm.get('tooltip').valid && signupForm.get('tooltip').touched" class="help-block">Please enter a valid tooltip</span>
      </div>
      <button class="btnSubmit" type="submit" [disabled]="!signupForm.valid">Add</button>
    </form>
  </div>

  <div class='delete'>
    <div class="title">Delete Annotation Index:</div>
    <input #myInput type="text" name="delete" alt="track cover" tabindex="-1" (focus)="onFocusMethod($event.target)">
    <label class="deleteButton" [for]="'myInput'" (click)="deleteAnnotation(myInput.value)">ok</label>
    <span class='errorMessage' *ngIf='errorFlagDel'>please insert only digits between 1-35,151</span>
    <span class='errorMessage' *ngIf='errorFlagDel2'>Input value doesn't exist in the Annotations</span>
  </div>
  <div class='goTo'>
    <div class="title">Go To Annotation Index:</div>
    <input #goto type="text" name="goto" alt="go to" tabindex="-1" (focus)="onFocusMethod($event.target)">
    <label class="gotoButton" [for]="'goto'" (click)="goToAnnotation(goto.value)">ok</label>
    <span class='errorMessage' *ngIf='errorFlag'>Input value doesn't exist in the Annotations</span>
  </div>
</div>