<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="index">index</label>
      <input type="text" id="index" class="form-control" formControlName="index" autocomplete="off">
      <span *ngIf="!signupForm.get('index').valid && signupForm.get('index').touched" class="help-block">Please enter a valid index</span>
    </div>
    <div>
      <label for="length">length</label>
      <input type="text" id="length" class="form-control" formControlName="length" autocomplete="off">
      <span *ngIf="!signupForm.get('length').valid && signupForm.get('length').touched" class="help-block">Please enter a valid length</span>
    </div>
    <div>
      <label for="tooltip">tooltip</label>
      <input type="text" id="tooltip" class="form-control" formControlName="tooltip" autocomplete="off">
      <span *ngIf="!signupForm.get('tooltip').valid && signupForm.get('tooltip').touched" class="help-block">Please enter a valid tooltip</span>
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
  </form>
</div>
<div>
  <label class="deleteButton" [for]="'myInput'" (click)="deleteAnnotation(myInput.value)">Delete index:</label>
  <input #myInput type="text" name="trackNAme" alt="track cover" tabindex="-1" (focus)="onFocusMethod($event.target)">
</div>
<!-- <div>
  <app-annotation-funcs (deleteAnnotationCall)="deleteIndexAnnotation($event)"></app-annotation-funcs>
</div> -->
<div class="numc">
  1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,20,1,2,3,4,5,6,7,8,9,30,1,2,3,4,5,6,7,8,9,40,1,2,3,4,5,6,7,8,9,50,</div>
<div class="page_scroller">
  <div class="sequences" *ngFor=" let seq of arrSequences; index as i">
    <span> {{index[i]}}</span>
    <app-sequence-line [indexToDelete]="indexToDelete" [sequence]="seq" [firstIndexOfLine]="index[i]" [annotations]="annotations"></app-sequence-line>
  </div>
</div>


<!-- (notifyAddAnnotation)="AddAnnotationFromLine($event)" -->